@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root{
	--color-body: #ede9a1;
	--color-heading: #ec84f180;
	--color-base: #000;
	--color-base2: #022a30;
	--color-brand: #deff58;
	--color-brand2: #deff58;
	--sidebar-width: 240px;
	--font-base: "Bai Jamjuree";
}

body {
	background-color: var(--color-base2);
	color: var(--color-body);
	font-family: var(--font-base), sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	color: var(--color-heading);
	font-weight: 700;
}

a {
	text-decoration: none;
	color: var(--color-body);
	transition: all 0.4s ease;
}
a:hover {
	color: var(--color-brand);
}

img {
	width: 100%;
}
