{% include 'base.html' %}
{% block main %}
 <a class="text-decoration-none" href="{{url_for('home')}}">Home <i class="fa fa-home"></i></a><br>
     <a class="text-decoration-none" href="{{ url_for('logout') }}">Logout <i class="fa fa-sign-out"></i></a>
    
  <div class="nav justify-content-center">
    <h4 class=""navbar-brand>Welcome {{ user['login'] }}</h4>
   </div>
{% endblock %}
 <div class="container">
  {% if alx == True %}
        <h1>
            ALX Fellow 📚🏅🎓🌟
        </h1>
    {% else %}
        <h1>
            Do you want to join the ALX SWE Program [click here](https://www.alxafrica.com/software-engineering/)
        </h1>
    {% endif %}
    <div class="card p-2 bg-theme text-light">
    <p><img src="https://github.com/{{user['login']}}.png" class="img img-responsive" width="60px" height="60px" > {{ user['name'] }}</p>
    <p> {{ user['bio'] }} </p>

  
    {%if bio %}
    <h6>About me</h6>
      {% if user_title %}
    <p>{{ user_title }}</p>
    {% endif %}
    <p>{{ bio }}</p>
    {% endif %}

    {% if whatido %}
    <h6>What I do</h6>
    <p>{{ whatido }}</p>
    {% endif %}
 {% if education %}
    <h6>Education</h6>
    <p>{{ education.school }}</p>
    <p>{{ education.year }}</p>
    <p>{{ education.degree }}</p><br>

    {% endif %}
    
    {% if socials %}

    <h6>You can contact me</h6>
    {% for social in socials %}
        <ul>
            <li>{{ social }}</li>
        </ul>
    {% endfor %}
    {% endif %}

    {% if address %}
    <h6>Address</h6>
    <p>{{ address }}</p>
    {% endif %}
     <a class="text-decoration-none text-light" href="{{ url_for('addEducation', user=user['login']) }}">Add education  <i class="fa fa-edit"></i></a><br>
    <a class="text-decoration-none text-light" href="{{ url_for('addSocials', user=user['login']) }}">Add socials and bio  <i class="fa fa-edit"></i></a><br>

</div>

    <h3 class="mt-4 text-info">Activity Stats</h3>
    <p>
        <img src="https://github-readme-stats.vercel.app/api?username={{user['login']}}&theme=synthwave&show_icons=true&hide_border=false&include_all_commits=true&count_private=true" /><br/>
        <img src="https://github-readme-streak-stats.herokuapp.com/?user={{user['login']}}&theme=synthwave&show_icons=true&hide_border=false" />
    </p>

    <h3 class="mt-4 text-info"> Projects </h3>
    {% if all_repos %}
        {% for repo in all_repos %}

            <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ repo.name }}" aria-expanded="true" aria-controls="{{ repo.name }}">
    
                    <a class="text-decoration-none" href="{{ repo.url }}">{{ repo.name }} <i class="fa fa-external-link"></i></a>
      </button>
    </h2>
     {% if repo.description %}
    <div id="{{ repo.name }}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
    {{ repo.description }}   
    </div>
    </div>
    {% endif %}
  </div>
</div>
        {% endfor %}
    {% endif %}

    </div>
   </body>
</html>
