{% include 'base.html' %}
{% block main %}
    <h1>Hello you are logged in!</h1>
    <a href="{{ url_for('logout') }}">click here to Logout</a>
{% endblock %}
    {% if alx == True %}
        <h1>
            You are an ALX student
        </h1>
        <p> {{ user.name }}</p><br>
        <p> {{ user.bio }} </p><br>
        <h3> Your Repos are </h3>
        {% for repo in all_repos %}
            <ul>
                <li>{{ repo }}</li>
            </ul>
        {% endfor %}   
    {% else %}
        <h1>
            You are not an ALX student
        </h1>
    {% endif %}
    <a href="{{ url_for('addEducation', user=user.login) }}">click here to add education</a><br>
    <a href="{{ url_for('addSocials', user=user.login) }}">click here to to add socials and bio</a><br>
</body>
</html>
