{% include 'base.html' %}
{% block base %}
<div class="container justify-content-center">

    <h1 class="navbar-brand">ALXFOLIO <i class="fa fa-home"></i></h1>
    <img class="img img-responsive w-50"src="/static/img/do-hard-things.jpeg">
    {% if current_user.is_authenticated %}
        <a class="btn btn-warning" href="{{url_for('dashboard', user=current_user.github_username)}}">Dashboard <i class="fa fa-sign-in"></i></a><br>
    {% else %}
        <a class="btn btn-warning" href="{{url_for('login')}}">Login <i class="fa fa-sign-in"></i></a><br>
        <a class="btn btn-warning mt-2" href="{{url_for('signup')}}">Signup <i class="fa fa-user"></i></a><br><br>
    {% endif %}


<p class="blockqoute">Signup to Alxfolio to spin up a personal portfolio from Github!</p>

<h3 class="title text-info" >Below are the portfolios of our registered users</h3>
<div class="row">
{% for user in all_users %}

<div class="col-md-4 col-sm-6 mb-2">
    <div class="card bg-theme text-light">

        <div class="card-body">
           <img src="https://github.com/{{user.github_username}}.png" class="img img-responsive" width="60px" height="60px" > 
           <br> <a class="text-decoration-none" href="{{url_for('userPortfolio', user=user.github_username)}}">
            {{ user.first_name }} {{ user.last_name }}
            </a>
            
           <p> {{user.address}}</p>
           <img src="https://github-readme-stats.vercel.app/api/top-langs/?username={{ user.github_username}}" >
        </div></div>
        
        </div>
        
        
{% endfor %}

</div>
<hr class="divider">
<a class="text-decoration-none" href="https://github.com/dukeofhazardz/Alxfolio/">Star 🌟 us on Github</a>
</div>

{% endblock %}