{% include 'base.html' %}
{% block main %}
   <div class="container">
      <h1>Signup</h1>
        <form method="POST" action="">
            {{ form.csrf_token }}<br>
            {{ form.hidden_tag() }}<br>
            {{ form.first_name }}<br>
            {{ form.last_name }}<br>
            {{ form.github_username }}<br>
            {{ form.email }}<br>
            {{ form.password }}<br>
            {{ form.phone_no }}<br>
            {{ form.address }}<br>
            {{ form.submit }}<br>
        </form>
   </div><br><br>
	<a href="{{url_for('home')}}">Home</a><br>
	<a href="{{url_for('login')}}">Already have an account? Login!</a><br>
{% endblock %}
