{% include 'base.html' %}
{% block main %}
   <div class="container">
      <h1>Signup Page</h1>
        <form method="POST" action="">
            {{ form.csrf_token }}<br>
            {{ form.hidden_tag() }}<br>
            {{ form.first_name }}<br>
            {{ form.last_name }}<br>
            {{ form.github_username }}<br>
            {{ form.email }}<br>
            {{ form.password }}<br>
            {{ form.phone_no }}<br>
            {{ form.submit }}<br>
        </form>
   </div>
{% endblock %}
