{% include 'base.html' %}
{% block main %}
<div class="container pt-4 d-flex justify-content-center">
   <div class="card w-70">
      <h1 class="card-title text-center pt-4 ">Signup</h1>
      <div class="card-body">
         <form method="POST" action>
            {{ form.csrf_token }}<br>
            {{ form.hidden_tag() }}<br>
            {{ form.first_name (class_='form-control')}}<br>
            {{ form.last_name (class_='form-control')}}<br>
            {{ form.github_username (class_='form-control')}}<br>
            {{ form.email (class_='form-control') }}<br>
            {{ form.password (class_='form-control')}}<br>
            {{ form.phone_no (class_='form-control')}}<br>
            {{ form.address (class_='form-control')}}<br>
            {{ form.submit (class_='btn bg-theme text-light')}}<br>
         </form>

      </div>

      <div class="card-footer bg-theme">
         <a class="card-link text-decoration-none text-light"
            href="{{url_for('home')}}">Home</a>
         <a class="card-link text-decoration-none text-info"
            href="{{url_for('login')}}">Already have an account? Login!</a>
      </div>
   </div>
</div>
{% endblock %}
