{% include 'base.html' %}
{% block main %}
    <a href="{{url_for('home')}}">click here to go Home</a><br>
{% endblock %}
    {% if alx == True %}
        <h1>
            ALX Fellow 📚🏅🎓🌟
        </h1>
    {% else %}
        <h1>
            Not an ALX Fellow
        </h1>
    {% endif %}
    <p> {{ user.name }}</p>
    <p> {{ user.bio }} </p><br>
    <h3> Projects </h3>
    {% for repo in all_repos %}
        <ul>
            <li>
                <a href="{{ repo.url }}">{{ repo.name }}</a>
                <p>{{ repo.description }}</p>
            </li>
        </ul>
    {% endfor %}<br>

    <h3>About me</h3>
    <h4>{{ user.name }}</h4>
    <p>{{ user_title }}</p>
    <p>{{ bio }}</p><br>

    <h3>What I do</h3>
    <p>{{ whatido }}</p><br>

    <h3>Education</h3>
    <p>{{ education.school }}</p>
    <p>{{ education.year }}</p>
    <p>{{ education.degree }}</p><br>

    <h3>Contributions</h3>
    <p>
        <img src="https://github-readme-stats.vercel.app/api?username={{user.login}}&theme=synthwave&show_icons=true&hide_border=false&include_all_commits=true&count_private=true" /><br/>
        <img src="https://github-readme-streak-stats.herokuapp.com/?user={{user.login}}&theme=synthwave&show_icons=true&hide_border=false" />
    </p><br>
    
    <h3>You can contact me</h3>
    {% if socials %}
    {% for social in socials %}
        <ul>
            <li>{{ social }}</li>
        </ul>
    {% endfor %}
    {% endif %}<br>
    <h3>Address</h3>
    <p>{{ address }}</p><br>
</body>
</html>